certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.6
django-bootstrap3==9.0.0
django-environ==0.4.4
django-redis==4.8.0
idna==2.6
mccabe==0.6.1
pytz==2017.2
redis==2.10.6
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
urllib3==1.22
