{% extends 'front/base.html' %}
{% block title %}Início{% endblock %}
{% block content %}
<h1>Encontre as melhores ofertas de Seguro Viagem da internet</h1>
<form role="form" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
         {{ field.label_tag }} {{ field }}
         <ul>
         {% for error in field.errors %}
           <li><small class="form-text text-muted">{{ error|safe }}</small></li>
         {% endfor %}
         </ul>
     </div>
    {% endfor %}
    <div class="form-group"><button class="btn btn-primary" type="submit">Compare</button></div>
</form>
{% endblock %}
{% block script %}
  <script>
      $(function() {
          $(".date").datepicker({
            language: 'pt-BR',
            startDate: '0',
            autoclose: true
          });
      });
  </script>
{% endblock %}
