{% extends 'front/base.html' %}
{% load bootstrap3 %}
{% block title %}Cotação{% endblock %}
{% block content %}
<h1>Encontre as melhores ofertas de Seguro Viagem da internet</h1>
<form role="form" method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons submit='Compare' layout='inline' %}{% endbuttons %}
</form>
<table class="table">
    <thead>
      <tr>
        <th>SEGURADORA</th>
        <th>PLANO</th>
        <th>DESPESA MÉDICA HOSPITALAR TOTAL</th>
        <th>SEGURO BAGAGEM</th>
        <th>TOTAL POR SEGURADO</th>
        <th></th>
      </tr>
    </thead>
    {% for quotation in quotations %}
      <tbody>
        <tr>
            <td>{{ quotation.provider_name }}</td>
            <td>{{ quotation.name }}</td>
            <td>{{ quotation.hospital_care }}</td>
            <td>{{ quotation.luggage_insurance }}</td>
            <td>R$ {{ quotation.adult.price|floatformat:2 }}</td>
            <td><a href="{% url 'front:coverage' quotation.code request.resolver_match.kwargs.slug request.resolver_match.kwargs.begin_date request.resolver_match.kwargs.end_date %}" class="btn btn-success">Selecionar</a></td>
        </tr>
      </tbody>
    {% endfor %}
</table>
{% endblock %}
